.favoriteTrack{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1, .instruction{
    text-align:center;
}
.instruction{
    font-size:22px;
    margin-bottom:20px;
}
