.blockTitle{
    background:#EAFAFF;
    width:100%;
    max-width:780px;
    border-radius:20px;
    margin:15px auto;
    display:flex;
    color:#154881;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    min-height:150px;
}
.randomFavorite{
    display:flex;
    justify-content: center;
}
.changeTrack, .changeTrack:focus{
    width:250px;
    margin:0 auto;
    border: 0;
    outline:0;
    padding:15px;
    color:white;
    display:block;
    background:#3689CC;
    border-radius:30px;
}
.card{
    animation: slide 1.2s ease-out;
}
/* .illustration-left{
    position:absolute;
    bottom:0;
    left: 0;
    animation: slide 1.5s ease-out;
} */