.form{
    border-top :1px solid grey;
    border-bottom :1px solid grey;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between
}
.form-group{
    margin:15px auto;
    max-width:300px;
    width:80%;
}
.form-group input{
    width:80%;
    max-width:250px;
}
.form .btn-submit{
    width:100px;
    border:none;
    outline:none;
}