.container{
    margin:30px auto;
}
.container h1{
    font-size:48px;
}
.blockTitle{
    background:#E9E9E9;
    width:80%;
    max-width:780px;
    margin:15px auto;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    min-height:150px;
}
.random-favorites{
    width:80%;
    max-width:500px;
    margin:0 auto;
    border:1px solid red;
    height:200px;
    display:flex;
    flex-direction: column;
}
.description{
    display:flex;
    flex-direction:row;
    border:2px solid purple
}
.cover{
    border:2px solid green;
}
.track{
    border:1px solid orange;
}
.credit{
    border: 2px solid blue;
}
.musicPlayer{
    width:95%;
    margin:0 auto;
    background:grey;
    height:50px;
}
